h1 {
  color: rgb(234, 243, 246);
  background-color: blueviolet;
  text-align: center;
  padding: 10px;
  margin: 0;
}
body {
  padding: 0px 100px;
}

#textbox {
  width: 99.3%;
  border-color: blueviolet;
  font-size: 10px;
}

p {
  text-align: center;
  background-color: blueviolet;
  font-size: larger;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 0px;
}
